<ul>
    <li [routerLink]="['']" 
        fragment="#{{sections.ABOUT}}" 
        [class.active]="(activeFragment | async)===sections.ABOUT">
        <a href="#{{sections.ABOUT}}">
            <span class="nav-indicator"></span>
            <span class="nav-item">{{sections.ABOUT}}</span>
        </a>
    </li>
    <li [routerLink]="['']" 
        fragment="#{{sections.EXPERIENCE}}" 
        [class.active]="(activeFragment | async)===sections.EXPERIENCE">
        <a href="#{{sections.EXPERIENCE}}">
            <span class="nav-indicator"></span>
            <span class="nav-item">{{sections.EXPERIENCE}}</span>
        </a>
    </li>
    <li [routerLink]="['']" 
        fragment="#{{sections.PROJECTS}}" 
        [class.active]="(activeFragment | async)===sections.PROJECTS">
        <a href="#{{sections.PROJECTS}}"  >
            <span class="nav-indicator"></span>
            <span class="nav-item">{{sections.PROJECTS}}</span>
        </a>
    </li>
    <li [routerLink]="['']" 
        fragment="#{{sections.COURSES}}" 
        [class.active]="(activeFragment | async)===sections.COURSES">
        <a href="#{{sections.COURSES}}"  >
            <span class="nav-indicator"></span>
            <span class="nav-item">{{sections.COURSES}}</span>
        </a>
    </li>
    <li [routerLink]="['']" 
        fragment="#technology" 
        [class.active]="(activeFragment | async)==='technology'">
        <a href="#technology"  >
            <span class="nav-indicator"></span>
            <span class="nav-item">technology</span>
        </a>
    </li>
</ul>

<!-- This works except for applying active class, need to look into this-->
<!-- <ul>
    @for (section of sections | keyvalue; track section) {
        <li [routerLink]="['']" 
            fragment="#{{section.value}}" 
            [class.active]="(activeFragment | async)==='{{section.value}}'">
            <a href="#{{section.value}}"  >
                <span class="nav-indicator"></span>
                <span class="nav-item">{{section.value}}</span>
            </a>
        </li>
    }
</ul> -->
