# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Secrets
**/.env*
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Compiled output
**/dist
**/tmp
/out-tsc
/bazel-out

# Node
**/node_modules/
npm-debug.log
yarn-error.log
nodemon.json

# IDEs and editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.idea/
*.swp
*.bak
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.angular/

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
desktop.ini

# Logs and Databases
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.mongo-data/