@use "./colours" as *;

button {
  margin: 0;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  border: none;
  color: $pureWhite;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:focus {
    outline: 2px solid $darkBlue;
    outline-offset: 2px;
  }

  &.btn-green {
    background-color: $btnGreen;
    &:hover {
      background-color: $btnGreenHover;
    }
  }
  &.btn-pink {
    background-color: $pink;
    &:hover {
      background-color: $darkPink;
    }
  }

  &.btn-darkBlue {
    background-color: $darkBlue;
    &:hover {
      background-color: $darkerBlue;
    }
  }
}
