<header class="lab-header">
  <div class="nav-back">
    <a aria-label="Go back to homepage" routerLink="/"
      ><icon name="ph:arrow-left" class="icon-green" size="24"></icon
    ></a>
  </div>
  <div class="page-title">
    <h1>Component <span class="green">Lab</span></h1>
    <p>Exploring accessible, headless design patterns in Angular 21</p>
  </div>
</header>

<main>
  <div class="lab-container">
    @for (
      section of labSections();
      track section.componentName;
      let i = $index;
      let last = $last
    ) {
      <app-lab-section
        [index]="i + 1"
        [title]="section.title"
        [challenge]="section.challenge"
        [solution]="section.solution"
        [developerNotes]="section.developerNotes ?? []"
        [articles]="section.articles ?? []"
        [isLast]="last"
      >
        @switch (section.componentName) {
          @case ("app-lab-tabs") {
            <app-lab-tabs [tabs]="tabs()"></app-lab-tabs>
          }
          @case ("app-lab-combo-box") {
            <app-lab-combo-box></app-lab-combo-box>
          }
        }
      </app-lab-section>
    }
  </div>
</main>
