@use "./../../../../assets/scss/colours" as *;

main {
  padding: 0 1.6rem;
}

.lab-header {
  background-color: $darkBlue;
  margin-bottom: 3rem;
  padding: 2.4rem;
  display: flex;

  .page-title {
    text-align: center;
    width: 100%;
    letter-spacing: 8%;
    h1 {
      text-transform: uppercase;
      font-size: 3.2rem;
      color: $lightGrey;
      margin-bottom: 0;
      .green {
        color: $green;
        font-size: inherit;
        font-family: inherit;
      }
    }
    p {
      color: $lightGrey;
      font-weight: 300;
      font-size: 1.6rem;
    }
  }
}

.lab-container {
  max-width: 120rem;
  margin: 4rem auto;
  padding-bottom: 8rem;

  .page-description {
    margin-bottom: 8rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.6rem;
    color: $darkBlue;
  }
}
