@import '../../../../../../assets/scss/colours';

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2.4rem;
    .logo {
        text-align: center;
    }
    h1 {
        color: $darkBlue;
        font-size: 2.4rem;
    }
    a {
        cursor: pointer;
    }
    .icon {
        &-green {
         color: $green;
         cursor: pointer;
        }
    }
}

.menu {
    display: none;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    left: 0;
    top:0;
    width: calc(100vw - 1.2rem);
    height: 100vh;
    background-color: $green;
    padding: 4rem;

    &.show {
        display: block;
        visibility: visible;
    }

    icon {
        color: $pureWhite;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
    ul {
        color: $pureWhite;
        list-style: none;
        text-align: center;
        padding: 0;
        position: relative;
        top: 40%;
        transform: translateY(-50%);
        li {
            text-transform: uppercase;
            padding: 1.2rem;
            font-size: 1.6rem;
            cursor: pointer;
            letter-spacing: 0.4rem;
        }
    }
}