<app-server-status />
<main class="todos-layout">
  <div class="header">
    <a aria-label="Go back to homepage" routerLink="/">
      <icon name="ph:arrow-left" class="icon-green" size="24"></icon>
    </a>
    <h1>
      TO<span>D</span>
      <icon name="ph:check-circle" class="icon-green" size="46"></icon>
    </h1>
    <div></div>
  </div>
  <div class="container">
    <app-todo-add
      [(tasksList)]="tasks"
      [isDisabled]="isDisabled()"
    ></app-todo-add>
    <app-todo-list
      [(tasks)]="tasks"
      [isLoading]="showSkeleton()"
      [isServerError]="isServerError()"
    ></app-todo-list>
  </div>
</main>
