$pureWhite: #ffffff;
$offWhite: #f8fafc;
$white: #e2e8f0;
$lightGrey: #eaedf1;
$grey: #94a3b8;
$darkBlue: #0f172a;
$darkerBlue: #05080e;
$midBlue: #0a2264;
$brightBlue: #1148e2;
$lightBlue: #1d4ed826;
$pink: #c94095;
$darkPink: #960e88;
$green: #46a8af;
$darkGreen: #3a8c92;
$darkerGreen: #2a6569;
$btnGreen: #2a6569;
$btnGreenHover: #1f4c4f;
