@import '../../../../../assets/scss/colours';
.course-item {
    margin-bottom: 2.4rem;

    a {
        color: $white;
        text-decoration: none;
        h5 {
            transition: all 0.15s ease;
        }
        icon {
            transition: top 0.15s ease, left 0.15s ease;
            position: relative;
            top: 0.4rem;
            left: 0;
        }

        &:hover,
        &:focus {
            h5 {
                color: $pink;
                
                icon {
                    top: 0.2rem;
                    left: 0.2rem;
                }
            }
        }
    }
    .course-details {
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        flex-wrap: wrap;

        @media only screen and (max-width: 700px) {
            display: inline-block;
        }

        h6 {
            margin-bottom: 0.4rem;
        }

        .seperator {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 1rem;
            background-color: $pink;
            margin: 0.5rem 0.8rem;

            @media only screen and (max-width: 700px) {
                display: none;
            }
        }
    }
}