@import './../../../../../../assets/scss/colours';
* {
    font-family: "Poppins", 'Open-sans';
    color: $darkBlue;
    font-size: 1.6rem;
    font-weight: 400;
}   
.task-count {
    width: 100%;
    text-align: right;
    margin-bottom: 0.8rem;
}

.task-list-tabs {
    display: flex;
    justify-content: space-evenly;

    .tab {
        background-color: $lightGrey;
        flex-grow: 1;
        text-align: center;
        padding: 0.8rem 0;
        cursor: pointer;
        &:first-child {
            border-radius: 1.6rem 0 0 0;
        }
        &:last-child {
            border-radius: 0 1.6rem 0 0;
        }
        &:not(:last-child) {
            border-right: 1px solid $darkBlue;
        }

        &.active {
            background-color: $darkBlue;
            color: $white;
        }
    }
}
.task-list-container {
    padding: 3.2rem;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 0 0 0.5rem 0.5rem;
    .task-list {
        padding: 0;
        input {
            margin-right: 0.8rem;
        }
        .task {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.6rem;
            app-todo-edit {
                width: 100%;
            }
            .task-desc {
                display: flex;
                justify-content: start;
                flex-grow: 1;
                .checkbox-container {
                    padding-right: 0.8rem;
                }
                .task-title {
                    flex-grow: 1;
                    padding-right: 0.8rem;
                }
                .line-through {
                    color: $grey;
                    text-decoration: line-through;
                }
            }
            .icon {
                position: relative;
                cursor: pointer;
            }
            .icons {
                display: flex;
                justify-content: space-between;
                min-width: 5.6rem;
                align-items: start;
    
                .icon {
                    position: relative;
                }
            }
        }
    }
}

.icon-red {
    color: $pink;
}
.icon-green {
    color: $green;
}
.icon-blue {
    color: $darkBlue;
}

input[type=checkbox] {
   display: none;
}
.show {
    display: inline-block;
    visibility: visible;
}
.hide {
    display: none;
    visibility: hidden;
}