
<p class="task-count">
    @if(tasks().length > 0) {
        @if(completedTasksCount() === tasks().length) {
            All tasks are complete!
        }@else {
            {{completedTasksCount()}} / {{tasks().length}} completed
        }
    }@else {
        {{tasks().length}}
    }
</p>
<div class="tasks">
    <div class="task-list-tabs">
        <div class="tab" [ngClass]="{'active': filter() === filters.All}" (click)="changeFilter(filters.All)">All</div>
        <div class="tab" [ngClass]="{'active': filter() === filters.Outstanding}" (click)="changeFilter(filters.Outstanding)">Outstanding</div>
        <div class="tab" [ngClass]="{'active': filter() === filters.Completed}" (click)="changeFilter(filters.Completed)">Completed</div>
    </div>
    <div class="task-list-container">
    @if(filteredTasks().length > 0) {
        <ul class="task-list">
            @for (task of filteredTasks(); track task.id) {
                <li class="task">
                    <app-todo-edit [task]="task" [ngClass]="task.editMode ? 'show' : 'hide'" />
                    @if (task.editMode === false) {
                    <div class="task-desc">
                            <div (click)="onCompleteTask(task.id)" class="checkbox-container">
                                <input type="checkbox" [checked]="task.completed"/>
                                <icon name="ph:circle" class="icon" [ngClass]="task.completed? 'hide' : 'show'"></icon>
                                <icon name="ph:check-circle" class="icon icon-green" [ngClass]="task.completed? 'show' : 'hide'"></icon>
                            </div>
                            <div class="task-title">
                                <span [class.line-through]="task.completed" >{{ task.title }}</span>
                            </div>
                        </div>
                        <div class="icons">
                            <icon name="ph:trash" class="icon icon-red" (click)="onDeleteTask(task.id)"></icon>
                            @if(!task.completed) {
                                <icon name="ph:pencil-simple" class="icon icon-blue" (click)="onEditTask(task)"></icon>
                            }
                        </div>
                    }
                </li>
            }
        </ul>
    }@else {
        <p class=>No <span>
            @if(filter() === filters.Completed) {
                completed 
            }@else if(filter() === filters.Outstanding) {
                outstanding 
            }
        </span>tasks</p>
    }
    </div>
</div>