<div class="container">
    @for (project of projects; track project) {
        <div class="project-outer">
            <div class="project">
                <img src={{project.img}} alt="" [routerLink]="project.projectUrl">
                <div class="description">
                    <a [routerLink]="project.projectUrl">
                        <h5>{{project.title}}<icon name="ph:arrow-up-right" size="18"></icon></h5>
                    </a>
                    <p>{{project.description}}</p>
                    <div class="technology">
                        @for (tech of project.tech; track tech) {
                            <app-tech-tag [techTag]="tech"></app-tech-tag>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
