@import '../../../../../assets/scss/colours';

* {
    text-decoration: none;
}
.container {
    display: flex;
    padding: 2.4rem;
    margin: 0 -2.4rem 1.6rem -2.4rem;
    transition: all 0.15s ease;
    border: 0.1rem solid transparent;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: rgba($lightGrey, 0.025);
        box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
        border-radius: 0.8rem;
        border-top: 0.1rem solid rgba($white, 0.1);
        border-left: 0.1rem solid rgba($white, 0.1);

        h5,
        icon {
            transition: all 0.15s ease;
            color: $pink;
        }
        .seperator {
            transition: all 0.15s ease;
            background-color: $white;
        }
        icon {
            top: -0.6rem;
            left: 0.2rem;
        }
    }

}

.left {
    width: 10rem;
    min-width: 10rem;
    padding-right: 1.6rem;
}

.date {
    .date-from {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .seperator {
        margin-left: 0.8rem;
        width: 1.2rem;
        height: 0.1rem;
        background-color: $grey;
    }
}
.title {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    .seperator {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 1rem;
        background-color: $pink;
        margin: 0.8rem;
    }
    h5 {
        color: $white;
    }
    icon {
        color: $white;
        position: relative;
        top: -0.4rem;
        left: 0;
    }
}
.technology {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.4rem;
}

