
<div class="outer-container" *ngIf="profile">
    <div class="inner-container">
        <div class="left">
            <h1>{{profile.name}}</h1>
            <h2>{{profile.jobTitle}}</h2>
            <h4>{{profile.strapLine}}</h4>
            <app-navigation></app-navigation>
        </div>
        <div class="right">
            <p *ngFor="let intro of profile.intros" class="p-large">{{intro}}</p>
            <h3>{{section.EXPERIENCE}}</h3>
            <app-experience [experiences]="profile.experiences" ></app-experience>
            <h3>{{section.TECHNOLOGY}}</h3>
            <app-technology [technologies]="profile.technologies"></app-technology>
            <h3>{{section.PROJECTS}}</h3>
            <app-projects [projects]="profile.projects"></app-projects>
            <app-build-info [buildInfo]="profile.buildInfo"></app-build-info>
        </div>
    </div>
</div>