<div class="outer-container">
    <div class="inner-container">
        <div class="left">
            <app-navigation></app-navigation>
        </div>
        <div class="right">
            <p class="p-large">I journeyed into web development by ways of Wordpress, initially creating sites using pre-built themes for fun. As with many developers, curiosity got the better of me and I wanted to find out how things worked and what more could be done. I started coding with HTML, CSS and JavaScript and from there found my way into Angular development.
            <br><br>
            I have worked for a RegTech company who offer a subscription service to a regulatory compliance app for insurance companies.
            <br><br>
            Since March 2022 I have been working on a projects for British Airways, including managing bookings, getting ready to travel, the seatmap and cabin upgrades.
            </p>
            <h3>Experience</h3>
            <app-experience></app-experience>
            <h3>Technology</h3>
            <app-technology></app-technology>
            <h3>Projects</h3>
            <app-projects></app-projects>
        </div>
    </div>
</div>