<header class="gallery-header">
  <div class="nav-back">
    <a aria-label="Go back to homepage" routerLink="/"
      ><icon name="ph:arrow-left" class="icon-green" size="24"></icon
    ></a>
  </div>
  <div class="page-title">
    @if (showOptimisedGallery) {
      <h1><span class="green">Optimised</span> Gallery</h1>
      <p>
        Rendering batched documents with pagination, virtualisation and lazy
        loading.
      </p>
    } @else {
      <h1><span class="pink">Bad</span> Gallery</h1>
      <p>
        Rendering 400 heavy documents with no pagination, virtualisation, or
        lazy loading.
      </p>
    }
  </div>
</header>

<div class="gallery-container">
  <app-server-status />
  <div class="toggle-container">
    <button
      type="button"
      class="toggle-switch"
      [class.active]="showOptimisedGallery"
      (click)="onToggleGallery()"
      [attr.aria-checked]="showOptimisedGallery"
      role="switch"
      [disabled]="isDisabled()"
    >
      <span class="toggle-handle"></span>
    </button>
    <span class="toggle-label" (click)="onToggleGallery()"
      >Optimised Gallery</span
    >
  </div>
  <div class="content">
    <div class="left">
      @if (isLoading()) {
        <app-gallery-skeleton />
      } @else {
        @if (isServerReady()) {
          @if (showOptimisedGallery) {
            <app-gallery-optimised />
          } @else {
            <app-gallery-unoptimised />
          }
        } @else {
          <div class="error-message">
            <p>
              The server is currently unavailable. Please try again later or
              check your network connection.
            </p>
          </div>
        }
      }
    </div>
    <div class="right">
      <app-article-sidebar [articles]="galleryArticles()" />
    </div>
  </div>
</div>
